USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 28/03/2023 2:07:01 PM ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLBH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLBH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  Table [dbo].[HANGSX]    Script Date: 28/03/2023 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGSX](
	[MAHANGSX] [nchar](10) NOT NULL,
	[TENHANG] [nvarchar](20) NOT NULL,
	[DIACHI] [nvarchar](30) NOT NULL,
	[SODT] [nvarchar](20) NOT NULL,
	[EMAIL] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHANGSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 28/03/2023 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](20) NOT NULL,
	[GIOITINH] [nchar](10) NOT NULL,
	[DIACHI] [nvarchar](30) NOT NULL,
	[SODT] [nvarchar](20) NOT NULL,
	[EMAIL] [nvarchar](30) NOT NULL,
	[PHONG] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAP]    Script Date: 28/03/2023 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAP](
	[SOHDN] [nchar](10) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[MANV] [char](10) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[SOLUONGN] [int] NOT NULL,
	[DONGIAN] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHDN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 28/03/2023 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nchar](10) NOT NULL,
	[MAHANGSX] [nchar](10) NULL,
	[TENSP] [nvarchar](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[MAUSAC] [nvarchar](20) NOT NULL,
	[GIABAN] [money] NOT NULL,
	[DONVITINH] [nchar](10) NOT NULL,
	[MOTA] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XUAT]    Script Date: 28/03/2023 2:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUAT](
	[SOHDX] [nchar](10) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[MANV] [char](10) NULL,
	[NGAYXUAT] [date] NULL,
	[SOLUONGX] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHDX] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NHAP]  WITH NOCHECK ADD  CONSTRAINT [FK_NHAP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAP] NOCHECK CONSTRAINT [FK_NHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[NHAP]  WITH NOCHECK ADD  CONSTRAINT [FK_NHAP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[NHAP] NOCHECK CONSTRAINT [FK_NHAP_SANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH NOCHECK ADD  CONSTRAINT [FK_SANPHAM_HANGSX] FOREIGN KEY([MAHANGSX])
REFERENCES [dbo].[HANGSX] ([MAHANGSX])
GO
ALTER TABLE [dbo].[SANPHAM] NOCHECK CONSTRAINT [FK_SANPHAM_HANGSX]
GO
ALTER TABLE [dbo].[XUAT]  WITH NOCHECK ADD  CONSTRAINT [FK_XUAT_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[XUAT] NOCHECK CONSTRAINT [FK_XUAT_NHANVIEN]
GO
ALTER TABLE [dbo].[XUAT]  WITH NOCHECK ADD  CONSTRAINT [FK_XUAT_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[XUAT] NOCHECK CONSTRAINT [FK_XUAT_SANPHAM]
GO
USE [master]
GO
